extends ./layout.jade


block title
  title Home

block main
  .container
    .row
      .col-sm-12
        h1 angular-hide-on-disable
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quibusdam magni aliquam nihil cum eius quos repellat itaque error sed labore quaerat doloremque adipisci ullam quasi voluptatibus, veritatis consequatur quidem!
        p Tenetur officiis debitis maxime nemo, vel cupiditate dicta deleniti maiores dolores modi earum eum in sapiente, consectetur, alias veniam eligendi soluta, consequuntur.
    include ./partials/example-1.jade
    .row
      .col-sm-12
        p Excepturi a, deleniti, perspiciatis quia dignissimos numquam qui voluptatibus beatae maxime laboriosam odio animi incidunt, dicta quod aut. Dignissimos iste, laudantium a!
        p Reiciendis, dolorum obcaecati nostrum accusantium beatae reprehenderit corporis similique voluptatem laborum eaque soluta amet, excepturi sunt, sint modi odit alias quo. Nostrum.
    include ./partials/example-2.jade
